/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Referencia colores: https://mybrandnewlogo.com/es/generador-de-paleta-de-colores */
/* Colores Joly */
.color1 {color: #2f2c1a;}
.color2 {color: #45683f;}
.color3 {color: #ffbd2a;}
.color4 {color: #fff467;}
.color5 {color: #fffbac;}
/* Colores SyS */
.color1 {color: #0f344e;}
.color2 {color: #404e71;}
.color3 {color: #786f99;}
.color4 {color: #c18fc6;}
.color5 {color: #e5b0e5;}

