@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Referencia paletas colores: https://mybrandnewlogo.com/es/generador-de-paleta-de-colores */
:root{/* Colores Joly */
    --color1: #2f2c1a;
    --color2: #45683f;
    --color3: #ffbd2a;
    --color4: #fff467;
    --color5: #fffbac;
    /* Colores SyS */
    ---color1: #0f344e;
    ---color2: #404e71;
    ---color3: #786f99;
    ---color4: #c18fc6;
    ---color5: #e5b0e5;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
.active{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 10px;
    padding: 4px;
}
/* Header */
header{
    position: fixed;
    z-index: 1;
}
header, .menu, .menusys {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
}
.menu{
    background-color: var(--color2);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.582);
}
.menusys{
    background-color: var(---color1);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.582);
}
.fa-sharp{
    font-size: 30px;
    color: white;
    margin-left: 50px;
    text-shadow: 2px 2px 2px black;
}
.list, .list2{
    width: 60%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-shadow: 2px 2px 2px black;
}
.menu ul, .menusys ul, .list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}
.menu li ul, .menusys li ul {
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    position: absolute;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 50px;
    background-color: var(--color2);
    width: 120px;
    text-align: center;
    gap: 8px;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.582);
}
.menusys li ul{
    background-color: var(---color1);
}
.menu li:hover > ul, .menusys li:hover > ul{
    visibility: visible;
    opacity: 1;
    transition: .3s ease-in-out;
}
.list a, .list2 a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
.list li a, .list2 li a, .menu a i, .menusys a i, .fa-brands{
    transition: .5s ease-in-out;
}
.list li a:hover, .list2 li a:hover, .menu a i:hover, .menusys a i:hover, .fa-brands:hover{
    color: rgb(172, 172, 172);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.container-socials{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.socials{
    width: 100px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    text-shadow: 2px 2px 2px black;
}
/* Home */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(69, 104, 63) 0%, rgba(255, 189, 42) 35%, rgba(120, 111, 153) 100%);
}
.home a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-transform: uppercase;
}
.joly, .sys, .divisor{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 3px black;
}
.divisor{
    height: 20%;
    background: rgba(0, 0, 0, 0.411);
}
.sys{
    height: 40%;
    background: linear-gradient(180deg, var(---color2) 0%, var(---color4) 100%);
    transition: .3s ease-in-out;
}
.sys:hover{
    background: linear-gradient(180deg, var(---color1) 0%, var(---color5) 100%);
    transition: .3s ease-in-out;
    box-shadow: inset 0px 0px 50px 5px rgba(128, 128, 128, 0.582);
}
.joly{
    height: 40%;
    background: linear-gradient(180deg, var(--color2) 0%, var(--color3) 100%);
    transition: .3s ease-in-out;
}
.joly:hover{
    background: linear-gradient(180deg, var(--color2) 0%, var(--color4) 100%);
    transition: .3s ease-in-out;
    box-shadow: inset 0px 0px 50px 5px rgba(128, 128, 128, 0.582);
}
.joly-cont, .sys-cont{
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.joly-cont p, .sys-cont p{
    font-size: 15px;
    color: black;
    text-shadow: none;
}
.logos-home{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
    box-shadow: 4px 4px 4px black;
}
.logos-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Main sys  */
.mainsys{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}
.cont-mainsys{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.mainsys h2{
    color: var(---color2);
    text-align: center;
    text-shadow: 2px 2px 2px gray;
    border-bottom: 1px solid var(---color2);
    padding: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.mainsys p{
    text-align: justify;
    margin: 10px;
}
.mainsys ul{
    margin-left: 35px;
}
/*Main joly  */
.mainjoly{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cont-mainjoly{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.hummus-par{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.hummus-img{
    width: 35%;
    height: 200px;
}
.hummus-par p{
    width: 50%;
}
.mainjoly ul{
    margin-left: 35px;
}
.mainjoly h1{
    color: var(--color1);
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    margin-top: 50px;
    text-shadow: 2px 2px 2px gray; 
}
.mainjoly h2{
    color: var(--color2);
    text-shadow: 1px 1px 1px black;
}
/* HomeJoly */
.container-joly{
    background: linear-gradient(90deg, rgb(47, 44, 26, 0.548) 0%, rgb(69, 104, 63, 0.548) 50%, rgb(255, 251, 172, 0.548) 100%);
}
/* Gallery Hummus */
.gallery-hummus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    border-top: 1px solid var(--color2);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color2);
}
.gallery-hummus div{
    width: 200px;
    height: 300px;
    border: 4px solid var(--color1);
    border-radius: 10px;
    overflow: hidden;
    background: var(--color5);
}
.gallery-hummus img{
    width: 100%;
    height: 79%;
    object-fit: cover;
    border-bottom: 2px solid var(--color1);
}
/* HomeSyS */
.container-sys{
    width: 100%;
    background: linear-gradient(90deg, rgba(64, 78, 113, 0.548) 0%, rgb(194, 143, 199, 0.548) 50%, rgb(255, 251, 172, 0.548) 100%); 
}
.home-sys{ 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.add{
    padding: 10px;
    margin-top: 200px;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    border: 1px solid var(---color4);
    border-radius: 10px;
}
.div-add{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(---color3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div-add img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Gallery */
.gallery{
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.gallery img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    z-index: 0;
}
.gallery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/* Footer */
.footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid var(--color2);
    margin-top: 150px;
    background: #2f2c1aa2;
}
.logo-hummusG{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-hummusG h1{
    font-size: 40px;
    color: var(--color1);
    text-shadow: 2px 2px 2px black;
    letter-spacing: 10px;
}
.hummus-guacamole{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 3px 3px black;
}
.hummus-guacamole img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.integrantes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.integrantes h1, .referencias h1{
    font-size: 30px;
    color: var(--color1);
    text-shadow: 1px 1px 1px black;
}
.integrantes ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-left: 20px;
}
.referencias{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.referencias ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.referencias a{
    color: black;
}
.referencias a:hover{
    color: white;
}
.separador{
    background-color: var(--color1);
    width: 2px;
    height: 80%;
}
/* Footer sys */
.footersys{
    background: #786f99a8;
    border-color: var(---color4);
}
.footersys h1{
    color: var(---color1);
}
.separadorsys{
    background: var(---color4);
}
/* Modal */
.modal{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    place-items: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.modal-container{
    width: 50%;
    min-width: 400px;
    position: relative;
    padding: 10px;
    background: white;
    border-radius: 10px;
}
.modalClose{
    position: absolute;
    top: 0;
    right: 0;
}
/* Clientes Joly */
.container-clientesj{
    padding-top: 60px;
}
.add-clientB{
    background: var(--color3);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--color5);
    text-shadow: 2px 2px 2px black;
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.205);
    transition: .3s ease-in-out;
}
.add-clientB:hover{
    box-shadow: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}